html,body {
	background-color : #2020FF;
	padding-top: 0px;
}

p,ul,li,td {
	font-size : 100%;
	font-family : Verdana, Arial, Helvetica, Geneva, sans-serif;
	color : black;
}

h1 {
	font-size : 150%;
	font-family : Verdana, Arial, Helvetica, Geneva, sans-serif;
	color : #80FF80;
	text-align: center;
}

h2 {
	font-size : 150%;
	font-family : Verdana, Arial, Helvetica, Geneva, sans-serif;
	color : red;
	padding-left:15px;
}

a:link {color: navy; text-decoration:none; background-color: transparent; }
a:visited {color: navy; text-decoration:none; background-color: transparent; }
a:hover {color:navy; text-decoration:none; background-color: transparent; }

div.titleDiv{
	border-top:#666600 3px solid;
	border-left:#666600 3px solid;
	border-right: 0px;
	border-bottom: 0px
	background-color: #CECE9D;
	margin-bottom: 15px;

}


table.titleTable{
	background-color:#2E2E5C;
	padding: 0px;
	border-spacing: 0px;
	margin: 0px;
	width: 100%;
	border-width: 0px;
	border-style: none;
}

tr.titleTr{
	background-color: #CECE9D;
	color=#666600;
	font-weight: bold;
	font-size : 90%;
}

tr.content{
	font-size : 80%;
	background-color: #FFFFFF;
	color=#8080AA;
}
