html,body {
	background-color : #99FFCC;
}

p,ul,li,td {
	font-size : 100%;
	font-family : Verdana, Arial, Helvetica, Geneva, sans-serif;
}

h1 {
	font-size : 150%;
	font-family : Verdana, Arial, Helvetica, Geneva, sans-serif;
	color : navy;
	text-align: center;
}

h2 {
	font-size : 150%;
	font-family : Verdana, Arial, Helvetica, Geneva, sans-serif;
	color : red;
	padding-left:15px;
}

table {
	border-style:solid; 
	border-width:3px; 
	border-color:black;
	border-collapse:collapse;
}

table.noborder{
	border-width:0px; 

}

td.padding11{
	padding:10px 5px 5px 50px ;
	border: 0px;
}

td.padding12{
	padding:10px 50px 5px 5px ;
	border: 0px;
}

td.padding13{
	padding:5px 5px 10px 50px ;
	border: 0px;
}

td.padding14{
	padding:5px 50px 10px 5px ;
	border: 0px;
}

th { 
	border-style:solid; 
	border-width:1px; 
	border-color:black;
	background-color : #FFFFFF;
}
table.loginTable{
	width:300px;
	border-width:8px;
 	border-style: outset;
	rules:none;
	bgcolor:#CCCCCC;
}

.col1{
	background-color : #FFFFCC;
	cursor : hand;
}

.col2{
	background-color : #CCFFFF;
	cursor : hand;
}

div.error{
	align:center;
	border-width:1px;
	border-style:solid; 
	border-color:black;
	color : red;
	margin-left:50px;
	margin-right:50px;
	padding:20px;
	background-color : #FFCCCC;
}

a:link {color: green; text-decoration:underline;}
a:visited {color: gray; text-decoration:underline;}
a:hover {color:red; text-decoration:none;}