body
{ 
  background: #444;
  margin: 0px;
  margin-top: 0px;
}

div#top-box
{ 
  width: 100%;
  height: 80px;
  background: #FFF url(bg_top_box.png) repeat 0px 0px;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;

  border: 1pt solid #637b99;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 28px;

  padding-top: 5px;

}

#social-networks
{ 
  border: 2pt solid #F00;
  width: 280px;
  height: 40px;
  position: relative;
  float:right;
  top: 5px;
  right: 50px; /* google-ad's width + X */
  text-align: center;
  margin: 0px;
  padding: 0px;
}

div#google-ad
{ 
  width: 468px;
  height: 60px;
  position: relative;
  float:right;
  top: 5px;
  right: 10px;
  background: #FFF;
  border: 2pt solid #F00;
  clear: both;
}

#skin01content
{ 
/*  width: 95%;
  margin-left: auto;
  margin-right: auto;
*/
  position: relative;
  top: 32px; /* Do not hide the menu  */

  background:#EEE;
/*  border: 1pt solid #637b99;*/
/*  padding: 10px; */
}

#rb-skin01-footer
{
  top: 40px;
  color: #444;
  padding-left: 10px; 
  padding-bottom: 0px;
  font-size: 12px;
  line-height:115%;
}

#rb-skin01-footer-right
{ 
  float: right;
}